.shortInfo img{
    /* height: 100%; */
    width: 100%;
}

.shortInfo{
    border-radius: 10px;
    /* margin: 0 100px; */
    padding: 20px;

}

.teamInfo{
    background-color: indigo;
}

.info{
    margin: 2% 5%;
    /* text-align: center; */
}
.social-icon{
    font-size: 50px;
    margin: 10px;
}